@import 'bootstrap/bootstrap.scss';

body {
    font-family: Century Gothic;
    color: #46576F;
    text-shadow: 0px 0px 1px grey;
}
div {
    margin-left: 50px;
    margin-right: 50px;

}
table {
    width: 98%;
    margin-left: 10px;
    border-collapse: collapse;
}


img {
    height: 45px;
    border-radius: 50%;
}
td {
    padding: 10px;
}
.first_column {
    text-align: center;
    width: 50px
}
table tr:nth-child(even){
    background-color: rgb(233, 233, 233);
  }